body {
  background-color: #3da8a8;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #fa4f4f;
  color: white;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 40px;
}

.login-box h3 {
  margin: 0%;
  padding: 0 0 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.login-box label {
  margin: 0%;
  padding: 0%;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.username {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 30px;
  color: white;
  font-size: 12px;
}

.password {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 30px;
  color: white;
  font-size: 12px;
}

.button {
  border: none;
  outline: none;
  height: 35px;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.login-box a {
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.login-box a:hover {
  color: white;
  font-size: 16px;
}

.avatar {
  height: 35%;
  width: 45%;
  border-radius: 50%;
  margin-top: -150px;
  margin-left: 17px;
}

img {
  margin-top: 3%;
  margin-left: 24%;
}
.boton {
  padding: 10px;
}

.boton input {
  margin: auto;
  margin-left: 41%;
  background-color: #b91d51;
  width: 181px;
  height: 48px;
  color: white;
  font-weight: bold;
}

.boton input:hover {
  background-color: #07c550;
}

.navbar {
  background-color: #fa4f4f !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn {
  color: white !important;
}
.btn:hover {
  text-decoration: underline;
}

fieldset {
  background-color: #fa4f4f;
}

label {
  color: white;
}
